nav {
    margin-bottom: 50px;
}
.nav-wrapper {
    z-index: 99999999;
}

.page-title {
    color: #dabffc;
}

.sidenav {
    background-color: #dabffc ;
}

#sidenav-proc {
    color: #dabffc;
    font-size: 35px;
    margin-top: 25px;
    margin-left: 20px;
}

body {
    background-color: rgba(0, 0, 0, 0.938);
}

.swipe-text {
    color: #dabffc;
}

.carousel {
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.carousel-item {
    min-width: 500px;
}

.material-icons {
    color: #dabffc;
}

