nav {
    margin-bottom: 50px;
}
.nav-wrapper {
    z-index: 99999999;
}

/* .page-title {
    color: #dabffc;
} */

.sidenav {
    /* background-color: #dabffc ; */
    background: #d4d3dd;
    /* background: -webkit-linear-gradient(to right, #D4D3DD, #bbe7ef);
    background: linear-gradient(to right, #D4D3DD, #bbe7ef); */
}

#sidenav-proc {
    /* color: #dabffc; */
    font-size: 35px;
    margin-top: 25px;
    margin-left: 20px;
}

body {
    /* background-color: rgba(0, 0, 0, 0.938); */
    background: #EFEFBB;
    background: -webkit-linear-gradient(to right, #D4D3DD, #bbe7ef);
    background: linear-gradient(to right, #D4D3DD, #bbe7ef);
}

/* .swipe-text {
    color: #dabffc;
} */

.carousel {
    margin-bottom: 40px;
}

.carousel-item {
    min-width: 500px;
}

/* .material-icons {
    color: #dabffc;
} */

#portfolio-col {
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5),
}